img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
}

#title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #2d3029;
}

#pioneertext {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-style: italic;
  color: #6c6f76;
}

#main {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: small;
  font-style: italic;
}

#tribute-info {
  display: block;
  align-items: center;
  margin: 40px;
}

#gracelink {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 40px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cursorcredit {
  font-size: 10px;
}

.custom-cursor {
  cursor: url(../images/icons8-cursor-64.png), auto;
}

#copyright {
  font-size: small;
}
